:root {
  --ion-color-primary: #e94560;
  --ion-color-primary-rgb: 233, 69, 96;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-dark: #1a3a3a;
  --ion-background-color: #1a3a3a;
  --ion-text-color: #ffffff;
}
